/* General styles for all menus */

.menu {
    background: #47a3da;
    background-repeat:no-repeat;
    background-size:200px 200px; /* width height */
    position: fixed;
}

.menu h3 {
    color: #afdefa;
    font-size: 1.9em;
    padding: 20px;
    margin: 0;
    font-weight: 300;
    background: #0d77b6;
}

.menu a {
    display: block;
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
}

.menu a:hover {
    background: #258ecd;
}

.menu a:active {
    background: #afdefa;
    color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */

.menu-vertical {
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 1000;
}


/* Vertical menu that slides from the left or right */

.menu-left {
    left: -240px;   //240
}

.menu-left.active{
    left: 0px;
}


#menu-description{
    width:  240px;
}

#menu-description img{
    max-width: 50px;
    max-height: 50px;
}
.small-logo img{
    max-width: 50px;
    max-height: 50px;
}

/* Effect */
.menu {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@media screen and (max-height: 26.375em){

    .menu-vertical {
        font-size: 90%;
        width: 190px;
    }

    .menu-left{
        left: -190px;
    }
}



