
<h1>{{title}}</h1>
<div (click)="toggle()" class="small-logo">
    <img src="https://gitlab.com/uploads/project/avatar/471057/testlogo2.png">
</div>
<nav class="menu menu-vertical menu-left"
     [ngClass]="status">
    <div id="menu-description">
        <h3>PIETER MADE THIS!</h3>
        <div (click)="toggle()" class="small-logo">
            <img src="https://gitlab.com/uploads/project/avatar/471057/testlogo2.png">
        </div>
        <a [routerLink]="['Dashboard']">Dashboard</a>
        <a [routerLink]="['Heroes']">Heroes</a>
       <!-- <a [routerLink]="['Todo']">Todo</a>-->
    </div>
</nav>
<router-outlet></router-outlet>
