<style>
    .Completed{
        text-decoration: line-through;
    }
</style>
<div>
    <span [ngClass]="todo.status">{{todo.title}}</span>
    <button (click)="toggle.emit(todo)">Toggle</button>
</div>