<div>
    <ul>
        <li *ngFor="#todo of todoService.todos | started : status | search : term">
        <todo-item-renderer [todo]="todo"
                            (toggle)="todoService.toggleTodo($event)"
        ></todo-item-renderer>
        </li>
    </ul>
</div>