<todo-input></todo-input>
SearchBox :     <search-box (update)="term = $event"></search-box>
StatusSelector: <status-selector (select)="status = $event"> </status-selector>
<todo-list
        [status]="status"
        [term]="term">
</todo-list>

<!--
<button (click)="getRequest()">Get API!</button>
<socket-view></socket-view>
-->